{% extends "::layout.html.twig" %}

{% block corps %}

	<div id="colonneGauche" class="col-md-7 col-xs-12">
	</div>
	
	<!-- Bloc tarifs et horaires -->
	<div id="tarisEtHoraires" class="col-md-4 col-md-offset-1 col-xs-12">
	
		<div id="tarifs" class="col-xs-12 text-center">
			<h4>Nos tarifs</h4>
				<hr>
				<p>tarif adulte : 12€</p>
				<p>tarif junior : 4€</p>
				<p>tarif sénior : 8€</p>
				<p>tarif spécial : 7€</p>
		</div>

		<div id="horaires" class="col-xs-12 text-center">
			<h4>Nos horaires</h4>
				<hr>
				<p>Lundi 8h - 18h</p>
				<p>Mercredi 8h - 18h</p>
				<p>Jeudi 8h - 18h</p>
				<p>Vendredi 8h - 18h</p>
				<p>Samedi 8h - 18h</p>
		</div>

		<div id="billetsAide" class="col-xs-12 text-center">	
			<a href="#">Quand et comment réserver mes billets ?</a>
		</div>
	</div>

{% endblock %}